*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.input{
    position: absolute;
    top: 180px;
}
.input input{
    border: none;
    outline: 0;
}

.weather-Hours{
    background: #ffffff;
    min-height: 300px;
    min-width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.452);
}
/*----------Search Box----------*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
header .notification{
    position: absolute;
    padding: 10px;
    top: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
}
/*----------Search Box----------*/

/*----------Data----------*/
section{
    flex: 1 1 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
}
/*----------Data----------*/

/*----------Temperature----------*/
.weather-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    cursor: pointer; 
    padding-bottom: 5px;
}
.weather-f{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
/*----------Temperature----------*/

/*----------Hours----------*/
.clock{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
/*----------Hours----------*/